*.dill
*.lock
*.dll
~/.dart_tool/*
*.o
*.a
/flutter_plugins/$HOME/*
/flutter_plugins/znk_auth/.idea/*
/flutter_plugins/znk_auth/.dart_tool
/flutter_plugins/znk_auth/.packages
/flutter_plugins/znk_auth/example/.dart_tool
/flutter_plugins/znk_auth/example/.packages
/flutter_plugins/znk_auth/example/ios
/flutter_plugins/znk_auth/example/build
/flutter_plugins/znkauth/.idea/*
/flutter_plugins/znkauth/.dart_tool
/flutter_plugins/znkauth/.packages
/flutter_plugins/znkauth/example/.dart_tool
/flutter_plugins/znkauth/example/.packages
/flutter_plugins/znkauth/example/ios
/flutter_plugins/znkauth/example/build
/server/usercenter/vendor
/server/usercenter/usercenter
/mobile/flb/.dart_tool